.forms {
  margin: 150px auto;
  display: flex;
  justify-content: center;

  .formDiv {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 30px;
    width: 500px;
    form {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 10px;

      input,label,button{
        margin: 10px;
      }

    }
  }

}







